api/database.ts
api/database.js
/api/v4
*.log
.env
/node_modules
/src/configs
/logs
public/savedFiles/observacoes.txt
/public/savedFiles
/public/scriptsPy/migraOnus/public/__pycache__
/public/scriptsPy/migraOnus/route/__pycache__
/public/scriptsPy/migraOnus/route
/public/scriptsPy/migraOnus/src
/public/scriptsPy/add-condominiums-to-BD
