api/database.ts
api/database.js
/api/v4
*.log
/node_modules
/src/configs
/logs
public\scriptsPy\add-condominiums-to-BD\__pycache__
public\scriptsPy\add-condominiums-to-BD\route
public\scriptsPy\add-condominiums-to-BD\src
public\scriptsPy\migraOnus\__pycache__
public\scriptsPy\migraOnus\route
public\scriptsPy\migraOnus\src
/public/savedFiles
public/savedFiles/observacoes.txt
