<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="refresh" content="86400;url=/" /> <!-- x horas em segundos -->
  <title>Intervip - Cadastros de Blocos</title>

  <!-- CSS -->
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="stylesheets/styleOLD.css">

  <!-- JS -->
  <script src="javascripts/index.js"></script>
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/cadastro-de-blocos.js"></script>
  <script src="javascripts/bootstrap-autocomplete.min.js"></script>
  <script src="javascripts/bootstrap.bundle.min.js"></script>

  <style>
    #modalAlerta {
      display: none;
      position: fixed;
      z-index: 999;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      justify-content: center;
      align-items: center;
    }

    #modalContent {
      background-color: white;
      padding: 20px;
      text-align: center;
      border-radius: 10px;
      max-width: 500px;
    }

    #modalContent img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }

    #closeModalBtn {
      margin-top: 15px;
      padding: 10px 20px;
      background-color: #dc3545;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    #closeModalBtn:hover {
      background-color: #c82333;
    }
  </style>
</head>
<body class="cadastros-body">
  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-md-3 logo-wrapper" style="align-content: center;">
          <a href="/main"><img class="logo" src="images/logo.png" alt="Logo Intervip"></a>
        </div>
        <div class="col-sm-6 col-md-6" id="cabecalho">
          <h2>Cadastros de Blocos</h2>
        </div>
        <div class="col-sm-2 col-md-3" style="text-align: end; align-content: center;">
          <div class="row">
            <div class="col-md-9" style="align-content: center;">
              <h6 class="show-username">Acessando como: {username}</h6>
              <h6 class="show-group">Setor: {group}</h6>
            </div>
            <div class="col-md-3" style="align-content: center;">
              <button id="theme-toggle" class="btn btn-secondary">Tema</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
		<div class="dark-container container-fluid">
			<div class="container">
				<div class="card border border-dark bg-light">
					<div class="card-body" id="centralizar">
						<br>
						<section class="row">
							<div class="col-md-12">
								<div style="margin: 0px 28px;">
									<div class="row">
										<div class="input-group">
											<label for="input-condo" class="form-label d-block w-100">
												<h3 class="card-title">Cadastro de Blocos:</h3>
											</label>
											<button type="button" class="input-group-text cor-span" id="btnReload" style="cursor: pointer;" onclick="atualizaCondominios();">
												Sincronizar
												<img src="images/reload.png" style="max-width: 1rem; margin-left: 5px;">
											</button>
											<input type="text" class="form-control form-control-md" id="input-condo"
												placeholder="Insira o nome do condominio" autocomplete="off" />
											<input type="text" name="condo" class="" id="input-condo-value"
												placeholder="ID IXC" style="text-align: center; max-width: 100px; color: darkorange; font-weight: bolder;"
												disabled readonly />
										</div>
									</div>
									<div class="row" style="margin-top: 10px;">
										<div id="destino">
										</div>
									</div>

									<div class="row" style="margin-top: 10px;">
										<div class="input-group">
											<button type="button" class="input-group-text cor-span" id="btnMais"
												style="cursor: pointer;" onclick="insereLinhas();">
												<img src="images/mais.png" style="max-width: 1rem;">
											</button>

											<button type="button" class="input-group-text cor-span" id="btnMenos"
												style="cursor: pointer;" onclick="removeLinhas();" hidden>
												<img src="images/menos.png" style="max-width: 1rem;">
											</button>
											<table class="table table-hover" style="margin-top: 10px;">
												<thead class="thead-dark">
													<tr>
														<th></th>
														<th></th>
													</tr>
												</thead>
												<tbody>
													<tr class="table">
														<th scope="row" class="THtablesCadastroBlocos">CEP:</th>
														<td id="dados-condo-cep"></td>
													</tr>
													<tr class="table">
														<th scope="row" class="THtablesCadastroBlocos">Endereço:</th>
														<td id="dados-condo-endereco"></td>
													</tr>
													<tr class="table">
														<th scope="row" class="THtablesCadastroBlocos">Número:</th>
														<td id="dados-condo-numero"></td>
													</tr>
													<tr class="table">
														<th scope="row" class="THtablesCadastroBlocos">Cidade:</th>
														<td id="dados-condo-cidade"></td>
													</tr>
													<tr class="table" class="THtablesCadastroBlocos">
														<th scope="row">Bairro:</th>
														<td id="dados-condo-bairro"></td>
													</tr>	
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<hr>
								<div style="margin: 0px 10px 10px 0px;">
									<button type="button" class="btn btn-secondary"
										onclick="cancelaCadastro();">Cancelar</button>
									<button type="button" id="btnAdicionar" class="btn btn-primary" onclick="cadastraBlocos();" disabled>Adicionar</button>
								</div>
							</div>
						</section>
						<section class="row">
							<div class="col-md-12">
								<div>
									<br>
									<hr>
									<h3>Blocos já cadastrados<h3>
								</div>
								<table id="tbl-BlocosCadastrados" class="table table-sm table-hover"
									style="width: 100%;">
									<thead class="thead-dark">
										<tr>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
										</tr>
									</thead>
									<tbody id="blocos-lista">
										<tr> 
											<th style="width: 6%;"></th> 
											<th style="width: 30%;">Bloco</th> 
											<th style="width: 14%;">Tipo</th> 
											<th style="width: 14%;">Estrutura</th> 
											<th style="width: 7%;">Andares</th>
											<th style="width: 12%;">Andar Inicial</th> 
											<th style="width: 8%;">Unidades</th> 
											<th style="width: 8%;">Total</th> 
											<th style="width: 8%;">Ações</th> 
										</tr>
									</tbody>
									<thead class="thead-dark">
										<tr>
											<th></th>	
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
											<th></th>
										</tr>
									</thead>
								</table>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!-- Modal Personalizado -->
	<div id="modalAlerta">
	  <div id="modalContent">
		<h3>Você não pode passar!</h3>
		<img src="images/lord-of-the-rings-you-shall-not-pass.gif" alt="You shall not pass GIF">
		<button id="closeModalBtn">Fechar</button>
	  </div>
	</div>
	<footer class="footer navbar-fixed-bottom">
	  <div class="container-fluid">
		<div class="row">
		  <div class="col-md-12 align-items-center" style="font-size: 12px; text-align: center;">
			<a href="../"><img class="logo" src="images/logo.png"></a>
			<p>© 2021 Gerencia Intervip | Densenvolvido por <a href="https://github.com/guilherme-wallace" target="_blank">Guilherme Wallace</a>.</p>
		  </div>
		</div>
	  </div>
	</footer>
	<script>
	  const currentTheme = localStorage.getItem('theme') || 'light';
	  const bodyElement = document.body;
  
	  if (currentTheme === 'dark') {
		bodyElement.classList.add('dark-mode');
	  }
  
	  document.getElementById('theme-toggle').addEventListener('click', function() {
		bodyElement.classList.toggle('dark-mode');
  
		if (bodyElement.classList.contains('dark-mode')) {
		  localStorage.setItem('theme', 'dark');
		} else {
		  localStorage.setItem('theme', 'light');
		}
	  });
	  document.addEventListener('DOMContentLoaded', function() {
		fetch('/api/username')
		  .then(response => response.json())
		  .then(data => {
			const username = data.username || 'Visitante';
			const group = data.group || 'Sem grupo';
			document.querySelector('.show-username').textContent = `Acessando como: ${username}`;
			document.querySelector('.show-group').textContent = `Setor: ${group}`;
  
			if (username === 'Visitante') {
			  alert('Será necessário refazer o login!');
			  window.location = "/";
			} else if (group !== 'NOC' && group !== 'Logistica' && group !== 'Fibra') {
			  document.getElementById('modalAlerta').style.display = 'flex';
			}
		  })
		  .catch(error => {
			console.error('Erro ao obter o nome do usuário e grupo:', error);
		  });
	  });
	  document.getElementById('closeModalBtn').addEventListener('click', function() {
		document.getElementById('modalAlerta').style.display = 'none';
		window.location = "/main";
	  });
	</script>
  </body>
</html>