<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="refresh" content="10800;url=/"> <!-- 3 horas em segundos -->
	<title>Intervip - Clientes online</title>

	<!-- CSS -->
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

	<!-- JS -->
	<script src="javascripts/index.js"></script>
	<script src="javascripts/jquery.js"></script>
	<script src="javascripts/bootstrap.bundle.min.js"></script>
	<script src="javascripts/bootstrap-autocomplete.min.js"></script>
	<script src="javascripts/clientes-online.js"></script>
</head>

<body class="clietesOnline-body">
	<header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2 col-md-3 logo-wrapper" style="align-content: center;">
					<a href="/main"><img class="logo" src="images/logo.png" alt="Logo Intervip"></a>
				</div>
				<div class="col-sm-6 col-md-6" id="cabecalho">
					<h2>Clientes online</h2>
				</div>
				<div class="col-sm-2 col-md-3" style="text-align: end; align-content: center;">
					<div class="row">
						<div class="col-md-9" style="align-content: center;">
							<h6 class="show-username">Acessando como: {username}</h6>
							<h6 class="show-group">Setor: {group}</h6>
						</div>
						<div class="col-md-3" style="align-content: center;">
							<button id="theme-toggle" class="btn btn-secondary">Tema</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main>
		<div class="dark-container container-fluid">
			<div class="container">
				<form action="javascript:void(0);" id="main-form">
					<div class="card border border-dark bg-light">
						<div class="card-body">
							<div class="input-group">
								<label for="input-condo" class="form-label d-block w-100">
									<h3 class="card-title">Informe o prédio:</h3>
								</label>
								<input type="text" class="form-control form-control-lg" id="input-condo"
									placeholder="Insira o nome do condominio" autocomplete="off">
							</div>
						</div>
						<section class="row">
							<div class="col-md-12">
								<table class="table table-sm table-hover" style="width: 100%; margin: 0;">
                                                                        <thead class="thead-dark" style="text-align: center;">
                                                                                <tr>
                                                                                        <th style="width: 11%;">Status</th>
                                                                                        <th style="width: 14%;">Código</th>
                                                                                        <th style="width: auto;">Complemento</th>
                                                                                        <th style="width: 14%;">IP</th>
                                                                                        <th style="width: 16%;">Último login</th>
                                                                                        <th style="width: 16%;">Último Logout</th>
                                                                                </tr>
                                                                        </thead>
                                                                        <tbody id="clientes-lista">
                                                                                <tr>
                                                                                        <td colspan="6">Selecione um grupo de clientes</td>
                                                                                </tr>
                                                                        </tbody>
                                                                </table>
								<div style="background-color: #343a40; height: 10px;">
								</div>
							</div>
						</section>
					</div>
				</form>
			</div>
		</div>
	</main>
	<footer class="footer navbar-fixed-bottom">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 align-items-center" style="font-size: 12px; text-align: center;">
					<a href="../"><img class="logo" src="images/logo.png"></a>
					<p>© 2021 Gerencia Intervip | Densenvolvido por <a href="https://github.com/guilherme-wallace" target="_blank">Guilherme Wallace</a>. Todos os direitos reservados a
						Intervip.</p>
				</div>
			</div>
		</div>
	</footer>
</body>	
<script>
	const currentTheme = localStorage.getItem('theme') || 'light';
	const bodyElement = document.body;

	if (currentTheme === 'dark') {
		bodyElement.classList.add('dark-mode');
	}

	document.getElementById('theme-toggle').addEventListener('click', function() {
		bodyElement.classList.toggle('dark-mode');

		if (bodyElement.classList.contains('dark-mode')) {
			localStorage.setItem('theme', 'dark');
		} else {
			localStorage.setItem('theme', 'light');
		}
	});

	document.addEventListener('DOMContentLoaded', function() {
		fetch('/api/username')
			.then(response => response.json())
			.then(data => {
				const username = data.username || 'Visitante';
				const group = data.group || 'Sem grupo';
				document.querySelector('.show-username').textContent = `Acessando como: ${username}`;
				document.querySelector('.show-group').textContent = `Setor: ${group}`;

				if (username == 'Visitante') {
					alert(`Será necessário refazer o login!`);
					window.location = "/";
				}

				// Se o grupo não for 'NOC' ou 'Logistica', desabilitar os botões
				if (group !== 'NOC' && group !== 'Logistica') {
					// Desabilita o botão emailsNoc
					const emailsNocButton = document.querySelector('.emailsNoc');
					if (emailsNocButton) {
						emailsNocButton.classList.add('disabled');
						emailsNocButton.setAttribute('aria-disabled', 'true');
						emailsNocButton.setAttribute('tabindex', '-1');
					}

					// Desabilita o botão addBlock
					const addBlockButton = document.querySelector('.addBlock');
					if (addBlockButton) {
						addBlockButton.classList.add('disabled');
						addBlockButton.setAttribute('aria-disabled', 'true');
						addBlockButton.setAttribute('tabindex', '-1');
					}
				}
			})
			.catch(error => {
				console.error('Erro ao obter o nome do usuário e grupo:', error);
			});
	});
</script>

</html>
