<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="refresh" content="10800;url=/"> <!-- 3 horas em segundos -->
	<title>Cadastro de Leads</title>

	<!-- CSS -->
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

	<!-- JS -->
	<script src="javascripts/index.js"></script>
        <script src="javascripts/jquery.js"></script>
	<script src="javascripts/jquery.numeric.min.js"></script>
	<script src="javascripts/jquery.validate.min.js"></script>
	<script src="javascripts/bootstrap-autocomplete.min.js"></script>
        <script src="javascripts/bootstrap.bundle.min.js"></script>
</head>
<body class="cadastros-leads">
	<top-header>
		<header>
			<div class="container-fluid">
				<div class="row">
					<div class="col-12 col-sm-2 col-md-3 logo-wrapper">
						<a href="../main"><img class="logo" src="images/logo.png"></a>
					</div>
					<div class="col-12 col-sm-8 col-md-6" id="cabecalho">
						<h2>Cadastro de Leads</h2>
					</div>
					<div class="col-12 col-sm-2 col-md-3"></div>
				</div>
			</div>
		</header>
	</top-header>

	<main>
		<div class="container-fluid">
			<div class="container">
				<div class="card border border-dark bg-light align-center">
					<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfzZCwEIOsMkUWA95ASdr81kdowQx4L6bPb8nYasI97tazN7g/viewform?embedded=true" width="640" height="1437" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>
				</div>
			</div>
		</div>
	</main>
</body>
<footer class="footer navbar-fixed-bottom">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 align-items-center" style="font-size: 12px; text-align: center;">
				<a href="../"><img class="logo" src="images/logo.png"></a>
				<p>© 2022 Gerencia Intervip | Densenvolvido por <a>Guilherme Wallace</a>. Todos os direitos reservados a Intervip.</p>
			</div>
		</div>
	</div>
</footer>

</html>
