<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="refresh" content="86400;url=/"> <!-- x horas em segundos -->
        <title>cadastro-de-viabilidade</title>
        <!-- CSS -->
        <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="stylesheets/styleOLD.css">
        <!-- JS -->
        <script src="javascripts/index.js"></script>
        <script src="javascripts/jquery.js"></script>
        <script src="javascripts/jquery.numeric.min.js"></script>
        <script src="javascripts/jquery.validate.min.js"></script>
        <script src="javascripts/lead-Venda.js"></script>
        <script src="javascripts/bootstrap-autocomplete.min.js"></script>
        <script src="javascripts/bootstrap.bundle.min.js"></script>
    </head>

    <body class="leads-body">
        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2 col-md-3 logo-wrapper" style="align-content: center;">
                        <a href="/main"><img class="logo" src="images/logo.png" alt="Logo Intervip"></a>
                    </div>
                    <div class="col-sm-6 col-md-6" id="cabecalho">
                        <h2>Cadastro de leads</h2>
                    </div>
                    <div class="col-sm-2 col-md-3" style="text-align: end; align-content: center;">
                        <div class="row">
                            <div class="col-md-9" style="align-content: center;">
                                <h6 class="show-username">Acessando como: {username}</h6>
                                <h6 class="show-group">Setor: {group}</h6>
                            </div>
                            <div class="col-md-3" style="align-content: center;">
                                <button id="theme-toggle" class="btn btn-secondary">Tema</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="dark-container container-fluid">
                <div class="container" style="text-align: center;">
                    <div class="card border border-dark bg-light">
                        <div class="card-body" id="centralizar">
                            <form id="formData" method="post">
                                <div class="row">
                                    <div class="col-md-2">
                                        <p class="pleads">É cadastro interno?</p>
                                        <input type="checkbox" class="btn-check" id="cadastroInternoCheckbox" autocomplete="off" hidden>
                                        <label class="btn btn-outline-primary" id="btnCadastroInternoCheckbox" for="cadastroInternoCheckbox">Não</label><br>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="pleads">Nome do solicitante <span style="color: red; margin: 0; padding: 0;"> * </span></p>
                                        <input id="clientName" name="clientName" type="text" class="form-control" placeholder="Nome do cliente" aria-label="Nome do cliente" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="col-md-4">
                                        <p class="pleads">leads para: <span style="color: red; margin: 0; padding: 0;"> * </span></p>
                                        <div class="dropdown">
                                            <button class="btn btn-primary dropdown-toggle" id="clientDropdownTipo" name="clientDropdownTipo" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-inline-start: 1rem;">Selecione uma opção</button>
                                            <div id="clientDropdownTipo" name="clientDropdownTipo" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a id="clientDropdownTipo-Cond" class="dropdown-item">Condomínio</a>
                                                <a id="clientDropdownTipo-Casa" class="dropdown-item">Casa</a>
                                                <a id="clientDropdownTipo-estrutura" class="dropdown-item">Estrutura FTTH</a>
                                                <a id="clientDropdownTipo-Corporativo" class="dropdown-item">Corporativo</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="pleads">Endereço de e-mail <span style="color: red; margin: 0; padding: 0;"> * </span></p>
                                        <input id="clientEmail" name="clientEmail" type="text" class="form-control" placeholder="Endereço de e-mail" aria-label="Endereço de e-mail" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="col-md-4">
                                        <p class="pleads">Telefone / Celular  <span style="color: red; margin: 0; padding: 0;"> * </span></p>
                                        <div>
                                            <input id="clientPhone" maxlength="12" name="clientPhone" type="text" class="form-control" placeholder="Telefone / Celular" aria-label="Telefone / Celular" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="row-corporativo" hidden>
                                    <div class="col-md-6">
                                        <p class="pleads">CNPJ</p>
                                        <input id="clientCNPJ" maxlength="30" name="clientCNPJ" type="text" class="form-control" placeholder="CNPJ" aria-label="CNPJ" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="col-md-6">
                                        <p class="pleads">Nome fantasia</p>
                                        <input id="fantasiaName" name="fantasiaName" type="text" class="form-control" placeholder="Nome fantasia" aria-label="Nome fantasia" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="row" id="row-clientDropdownTipo-Cond" hidden>
                                    <div class="col-md-12 input-group" id="col-predioEstuturado">
                                        <label class="form-label d-block w-100">
                                            <p class="card-title">Selecione o prédio:</p>
                                        </label>
                                        <input type="text" class="form-control form-control-md" id="input-condo" name="input-condo"
                                            placeholder="Insira o nome do condominio" autocomplete="off" />
                                        <input type="text" name="condo" id="input-condo-value"
                                            placeholder="ID IXC" style="text-align: center; max-width: 100px; color: darkorange; font-weight: bolder;"
                                            disabled readonly />
                                    </div>
                                    <div class="col-md-12" id="col-predioNaoEstuturado">
                                        <p class="pleads">Nome do Condompinio</p>
                                        <input id="clientAddressCondName" name="clientAddressCondName" type="text" class="form-control" placeholder="Nome do Condompinio" aria-label="Nome do Condompinio" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="col-md-4" id="col-blocoNaoEstuturado" hidden>
                                        <p class="pleads">Bloco</p>
                                        <input id="clientAddressBloco" name="clientAddressBloco" type="text" class="form-control" placeholder="Bloco" aria-label="Bloco" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="col-md-4" id="col-blocoEstuturado" hidden>
                                        <p class="pleads">Bloco</p>
                                        <div class="dropdown">
                                            <button id="botao-blocos"
                                                class="btn btn-secondary dropdown-toggle scroll-menu"
                                                type="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">Selecione o Bloco</button>
                                            <div id="blocos-lista" class="dropdown-menu"
                                                aria-labelledby="dropdown-blocos">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="padding-left: calc(10px * 1/3);" >
                                        <p class="pleads">Apartamento</p>
                                        <input id="clientAddressApartamento" name="clientAddressApartamento" type="text" class="form-control" placeholder="Apartamento" aria-label="Apartamento" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="col-md-4" style="padding-left: calc(10px * 1/3);" >
                                        <p class="pleads">Número do síndico</p>
                                        <input id="clientAddressSindico" name="clientAddressSindico" type="text" class="form-control" placeholder="Número do síndico" aria-label="Número do síndico" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="row" id="row-endereco">
                                    <div class="col-md-3">
                                        <p class="pleads">CEP <span style="color: red; margin: 0; padding: 0;"> * </span></p>
                                        <input id="clientCep" maxlength="10" name="clientCep" type="text" class="form-control" placeholder="CEP" aria-label="cep" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="col-md-6">
                                        <p class="pleads">Endereço</p>
                                        <input id="clientAddress" name="clientAddress" type="text" class="form-control" placeholder="Endereço" aria-label="Endereço" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="col-md-3" style="padding-left: calc(10px * 1/3);">
                                        <p class="pleads">Numero</p>
                                        <input id="clientAddressNumber" name="clientAddressNumber" type="text" class="form-control" placeholder="Número" aria-label="Número" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="row" id="row-endereco2">
                                    <div class="col-md-3">
                                        <p class="pleads">Cidade</p>
                                        <input id="clientAddressCity" name="clientAddressCity" type="text" class="form-control" placeholder="Cidade" aria-label="cidade" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="col-md-3">
                                        <p class="pleads">Bairro</p>
                                        <input id="clientAddressNeighbourhood" name="clientAddressNeighbourhood" type="text" class="form-control" placeholder="Bairro" aria-label="Bairro" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="col-md-1" id="col_clientAddressUf">
                                        <p class="pleads">UF</p>
                                        <input id="clientAddressUf" maxlength="2" name="clientAddressUf" type="text" class="form-control" placeholder="UF" aria-label="UF" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="col-md-5" id="col_clientAddressComplement">
                                        <p class="pleads">Complemento</p>
                                        <input id="clientAddressComplement" name="clientAddressComplement" type="text" class="form-control" placeholder="Complemento" aria-label="Complemento" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">
                                    </div>
                                    <div class="col-md-3 ml-auto align-content-bottom" style="padding-top: 1rem;">
                                        <span id="submit-button-wrapper" data-toggle="popover" data-placement="top" data-content="Selecione uma opção no canto superior esquerdo para continuar.">
                                            <button id="submitButton" class="btn btn-primary" style="width: 100%;" type="submit">Enviar</button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer navbar-fixed-bottom">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 align-items-center" style="font-size: 12px; text-align: center;">
                        <a href="../"><img class="logo" src="images/logo.png"></a>
                        <p>© 2024 Gerencia Intervip | Densenvolvido por <a href="https://github.com/guilherme-wallace" target="_blank">Guilherme Wallace</a>.</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
    <script>
		const currentTheme = localStorage.getItem('theme') || 'light';
		const bodyElement = document.body;
	
		if (currentTheme === 'dark') {
			bodyElement.classList.add('dark-mode');
		}
	
		document.getElementById('theme-toggle').addEventListener('click', function() {
			bodyElement.classList.toggle('dark-mode');
	
			if (bodyElement.classList.contains('dark-mode')) {
				localStorage.setItem('theme', 'dark');
			} else {
				localStorage.setItem('theme', 'light');
			}
		});
	
		document.addEventListener('DOMContentLoaded', function() {
			fetch('/api/username')
				.then(response => response.json())
				.then(data => {
					const username = data.username || 'Visitante';
					const group = data.group || 'Sem grupo';
					document.querySelector('.show-username').textContent = `Acessando como: ${username}`;
					document.querySelector('.show-group').textContent = `Setor: ${group}`;

					if (username == 'Visitante') {
						alert(`Será necessário refazer o login!`);
						window.location = "/";
					}
				})
				.catch(error => {
					console.error('Erro ao obter o nome do usuário e grupo:', error);
				});
		});
	</script>
</html>
