<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="refresh" content="10800;url=/"> <!-- 3 horas em segundos -->
	<title>Intervip - Gerência de Redes</title>

	<!-- CSS -->
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<!-- JS -->
	<script src="javascripts/jquery.js"></script>
	<script src="javascripts/bootstrap.bundle.min.js"></script>
</head>

<body class="gerenciaIVP-body">
	<header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2 col-md-3 logo-wrapper" style="align-content: center;">
					<a href="/main"><img class="logo" src="images/logo.png" alt="Logo Intervip"></a>
				</div>
				<div class="col-sm-6 col-md-6" id="cabecalho">
					<h2>Intervip - Gerência de Redes</h2>
				</div>
				<div class="col-sm-2 col-md-3" style="text-align: end; align-content: center;">
					<div class="row">
						<div class="col-md-9" style="align-content: center;">
							<h6 class="show-username">Acessando como: {username}</h6>
							<h6 class="show-group">Setor: {group}</h6>
						</div>
						<div class="col-md-3" style="align-content: center;">
							<button id="theme-toggle" class="btn btn-secondary">Tema</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<main>
		<div class="dark-container container-fluid">
			<div class="container">
				<div class="card border border-dark bg-light">
					<div class="card-body" id="centralizar">
						<section class="row">
							<div class="col-md-4">
								<h3>Consulta de Planos</h3>
								<p><a class="btn btn-primary" href="consulta-de-planos" role="button">Acessar »</a></p>
							</div>
							<div class="col-md-4">
								<h3>Clientes On-Line</h3>
								<p><a class="btn btn-primary" href="clientes-online" role="button">Acessar »</a></p>
							</div>
							<div class="col-md-4">
								<h3>Cadastro de Blocos</h3>
								<p><a class="btn btn-primary addBlock" href="cadastro-de-blocos" role="button">Acessar »</a></p>
							</div>
						</section>
						<hr>
						<section class="row">
							<div class="col-md-4">
								<h3>Testes de Lentidão</h3>
								<p><a class="btn btn-primary" href="teste-de-lentidao" role="button">Acessar »</a></p>
							</div>
							<div class="col-md-4">
								<h3>Problemas com VPN</h3>
								<p><a class="btn btn-primary" href="problemas-com-VPN" role="button">Acessar »</a></p>
							</div>
							<div class="col-md-4">
								<h3>Problemas em Sites/APP</h3>
								<p><a class="btn btn-primary" href="problemas-sites-e-APP" role="button">Acessar »</a></p>
							</div>
						</section>
						<hr>
						<section class="row">
							<div class="col-md-4">
								<h3>Cadastro de Leads</h3>
								<p><a class="btn btn-primary" href="lead" role="button">Acessar »</a></p>
							</div>
							<div class="col-md-4">
								<a><img class="favicon" src="images/favicon.ico" alt="Favicon Intervip"></a>
							</div>
							<div class="col-md-4">
								<h3>E-mails NOC</h3>
								<p><a class="btn btn-primary emailsNoc" href="e-mails" role="button">Acessar »</a></p>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>

		<!-- Linha Telefônica -->
		<div class="container-fluid">
			<div class="container">
				<hr>
				<h3>Linha Telefônica</h3>
				<hr>
				<div class="card border border-dark bg-light">
					<div class="card-body" id="centralizar">
						<section class="row">
							<div class="col-md-4">
								<h3>Pedido de Linha</h3>
								<p><a class="btn btn-primary" href="pedidos-linha-telefonica" role="button">Acessar »</a></p>
							</div>
							<div class="col-md-4">
								<h3>Pedido de Linha com URA</h3>
								<p><a class="btn btn-primary" href="pedidos-linha-telefonica-URA" role="button">Acessar »</a></p>
							</div>
							<div class="col-md-4">
								<h3>Problemas na Linha</h3>
								<p><a class="btn btn-primary" href="problemas-linha-telefonica" role="button">Acessar »</a></p>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer class="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" style="font-size: 12px; text-align: center;">
					<a href="/"><img class="logo" src="images/logo.png" alt="Logo Intervip"></a>
					<p>© 2021 Gerencia Intervip | Desenvolvido por <a href="https://github.com/guilherme-wallace" target="_blank">Guilherme Wallace</a>. Todos os direitos reservados a Intervip.</p>
				</div>
			</div>
		</div>
	</footer>

	<script>
		const currentTheme = localStorage.getItem('theme') || 'light';
		const bodyElement = document.body;
	
		if (currentTheme === 'dark') {
			bodyElement.classList.add('dark-mode');
		}
	
		document.getElementById('theme-toggle').addEventListener('click', function() {
			bodyElement.classList.toggle('dark-mode');
	
			if (bodyElement.classList.contains('dark-mode')) {
				localStorage.setItem('theme', 'dark');
			} else {
				localStorage.setItem('theme', 'light');
			}
		});
	
		document.addEventListener('DOMContentLoaded', function() {
			fetch('/api/username')
				.then(response => response.json())
				.then(data => {
					const username = data.username || 'Visitante';
					const group = data.group || 'Sem grupo';
					document.querySelector('.show-username').textContent = `Acessando como: ${username}`;
					document.querySelector('.show-group').textContent = `Setor: ${group}`;

					if (username == 'Visitante') {
						alert(`Será necessário refazer o login!`);
						window.location = "/";
					}
	
					// Se o grupo não for 'NOC' ou 'Logistica', desabilitar os botões
					if (group !== 'NOC' && group !== 'Logistica') {
						// Desabilita o botão emailsNoc
						const emailsNocButton = document.querySelector('.emailsNoc');
						if (emailsNocButton) {
							emailsNocButton.classList.add('disabled');
							emailsNocButton.setAttribute('aria-disabled', 'true');
							emailsNocButton.setAttribute('tabindex', '-1');
						}
	
						// Desabilita o botão addBlock
						const addBlockButton = document.querySelector('.addBlock');
						if (addBlockButton) {
							addBlockButton.classList.add('disabled');
							addBlockButton.setAttribute('aria-disabled', 'true');
							addBlockButton.setAttribute('tabindex', '-1');
						}
					}
				})
				.catch(error => {
					console.error('Erro ao obter o nome do usuário e grupo:', error);
				});
		});
	</script>
</body>

</html>
