<!DOCTYPE html>
<htMl>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta http-equiv="refresh" content="21600;url=/"> <!-- 3 horas em segundos -->
		<title>Migração de ONUs</title>
		<!-- CSS -->
		<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
		<!-- JS -->
		<script src="javascripts/index.js"></script>
		<script src="javascripts/jquery.js"></script>
		<script src="javascripts/migra-onus.js"></script>
        <script src="javascripts/jquery.numeric.min.js"></script>
        <script src="javascripts/jquery.validate.min.js"></script>
		<script src="javascripts/bootstrap.bundle.min.js"></script>
		<script src="javascripts/bootstrap-autocomplete.min.js"></script>
	</head>
	<style>
		#modalAlerta {
		  display: none;
		  position: fixed;
		  z-index: 999;
		  left: 0;
		  top: 0;
		  width: 100%;
		  height: 100%;
		  background-color: rgba(0, 0, 0, 0.8);
		  justify-content: center;
		  align-items: center;
		}
	
		#modalContent {
		  background-color: white;
		  padding: 20px;
		  text-align: center;
		  border-radius: 10px;
		  max-width: 500px;
		}
	
		#modalContent img {
		  max-width: 100%;
		  height: auto;
		  border-radius: 10px;
		}
	
		#closeModalBtn {
		  margin-top: 15px;
		  padding: 10px 20px;
		  background-color: #dc3545;
		  color: white;
		  border: none;
		  border-radius: 5px;
		  cursor: pointer;
		}
	
		#closeModalBtn:hover {
		  background-color: #c82333;
		}
	  </style>
	</head>
	<body class="migra-onu-body">
		<header>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-2 col-md-3 logo-wrapper" style="align-content: center;">
						<a href="/main"><img class="logo" src="images/logo.png" alt="Logo Intervip"></a>
					</div>
					<div class="col-sm-6 col-md-6" id="cabecalho">
						<h2>Migração de ONUs</h2>
					</div>
					<div class="col-sm-2 col-md-3" style="text-align: end; align-content: center;">
						<div class="row">
							<div class="col-md-9" style="align-content: center;">
								<h6 class="show-username">Acessando como: {username}</h6>
								<h6 class="show-group">Setor: {group}</h6>
							</div>
							<div class="col-md-3" style="align-content: center;">
								<button id="theme-toggle" class="btn btn-secondary">Tema</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<main>
			<div class="dark-container container-fluid">
				<div class="container">
					<div class="card border border-dark bg-light">
						<div class="card-body" id="centralizar">
                            <form id="formData" method="post">
								<div class="row" >
									<div class="col-md-6">
										<table id="tbl-informacoes" class="table table-hover plan-color-table">
											<thead class="thead-dark">
												<tr>
													<th></th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<tr class="table-primary">
													<td scope="row" id="td-olt-antiga">
														<p><b>Seleciona a OLT de onde as ONUs serão retiradas</b></p>
														<div class="dropdown">
															<button class="btn btn-primary dropdown-toggle" id="dropOLTAntiga" name="dropOLTAntiga" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-inline-start: 1rem;">Selecione uma opção</button>
															<div id="dropOLTAntiga" name="dropOLTAntiga" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
																<a id="dropOLTAntiga-INTERVIP" class="dropdown-item">SEA01-OLT-01-INTERVIP</a>
																<a id="dropOLTAntiga-VNC" class="dropdown-item">SEA03-OLT-01-VNC</a>
																<a id="dropOLTAntiga-LAR" class="dropdown-item">SEA04-OLT-01-LAR</a>
																<a id="dropOLTAntiga-NEWPORT" class="dropdown-item">VTA01-OLT-01-NEWPORT</a>
																<a id="dropOLTAntiga-JDCB" class="dropdown-item">VTA02-OLT-01-JDCB</a>
																<a id="dropOLTAntiga-WLTS" class="dropdown-item">VVA01-OLT-01-WLTS</a>
																<a id="dropOLTAntiga-ARIB" class="dropdown-item">VVA03-OLT-01-ARIB</a>
																<a id="dropOLTAntiga-VCGB" class="dropdown-item">CCA01-OLT-01-VCGB</a>
															</div>
														</div>
													</td>
													<td scope="row" id="td-olt-nova">
														<p><b>Seleciona a OLT para onde as ONUs serão enviada</b></p>
														<div class="dropdown">
															<button class="btn btn-primary dropdown-toggle" id="dropOLTNova" name="dropOLTNova" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-inline-start: 1rem;">Selecione uma opção</button>
															<div id="dropOLTNova" name="dropOLTNova" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
																<a id="dropOLTNova-INTERVIP" class="dropdown-item">SEA01-OLT-01-INTERVIP</a>
																<a id="dropOLTNova-VNC" class="dropdown-item">SEA03-OLT-01-VNC</a>
																<a id="dropOLTNova-LAR" class="dropdown-item">SEA04-OLT-01-LAR</a>
																<a id="dropOLTNova-NEWPORT" class="dropdown-item">VTA01-OLT-01-NEWPORT</a>
																<a id="dropOLTNova-JDCB" class="dropdown-item">VTA02-OLT-01-JDCB</a>
																<a id="dropOLTNova-WLTS" class="dropdown-item">VVA01-OLT-01-WLTS</a>
																<a id="dropOLTNova-ARIB" class="dropdown-item">VVA03-OLT-01-ARIB</a>
																<a id="dropOLTNova-VCGB" class="dropdown-item">CCA01-OLT-01-VCGB</a>
															</div>
														</div>
													</th>
												</tr>
												<tr class="table-primary"></tr>
													<tr class="table-primary">
														<th scope="row">PON antiga:</th>
														<td id="td-pon_ANTIGA">
															<input type="text" maxlength="8" id="pon_ANTIGA" name="pon_ANTIGA" value="0/1/0" class="form-control form-control-sm center" placeholder="PON antiga" autocomplete="off">
														</td>
													</tr>
													<tr class="table-primary">
														<th scope="row">ONU ID:</th>
														<td id="td-onu_ID">
															<input type="text" maxlength="5" id="onu_ID" name="onu_ID" value="0" class="form-control form-control-sm center" placeholder="ONU ID" autocomplete="off">
														</td>
													</tr>
													<tr class="table-primary">
														<th scope="row">Line Profile:</th>
														<td id="td-ont_LIN_PROF">
															<input type="text" maxlength="5" id="ont_LIN_PROF" name="ont_LIN_PROF" value="None" class="form-control form-control-sm center" placeholder="ont-lineprofile-id" autocomplete="off">
														</td>
													</tr>
													<tr class="table-primary">
														<th scope="row">Service Profile:</th>
														<td id="td-ont_SRV_PROF">
															<input type="text" maxlength="5" id="ont_SRV_PROF" name="ont_SRV_PROF" value="None" class="form-control form-control-sm center" placeholder="ont-srvprofile-id" autocomplete="off">
														</td>
													</tr>
													<tr class="table-primary">
														<th scope="row">Ports native vlan:</th>
														<td id="td-ont_native_vlan">
															<input type="text" maxlength="5" id="ont_native_vlan" name="ont_native_vlan" value="None" class="form-control form-control-sm center" placeholder="port native-vlan" autocomplete="off">
														</td>
													</tr>
													<tr class="table-primary">
														<th scope="row">Service port vlan:</th>
														<td id="td-ont_vlan_service_port">
															<input type="text" maxlength="5" id="ont_vlan_service_port" name="ont_vlan_service_port" value="None" class="form-control form-control-sm center" placeholder="service-port vlan" autocomplete="off">
														</td>
													</tr>
													<tr class="table-primary">
														<th scope="row">gemport:</th>
														<td id="td-ont_gem_PORT">
															<input type="text" maxlength="5" id="ont_gem_PORT" name="ont_gem_PORT" value="None" class="form-control form-control-sm center" placeholder="gemport" autocomplete="off">
														</td>
													</tr>
													<tr class="table-primary">
														<th scope="row">User vlan:</th>
														<td id="td-ont_user_vlan">
															<input type="text" maxlength="5" id="ont_user_vlan" name="ont_user_vlan" value="None" class="form-control form-control-sm center" placeholder="user-vlan" autocomplete="off">
														</td>
													</tr>
												</tr>
											</tbody>
											<thead class="thead-dark">
												<tr>
													<th></th>
													<th></th>
												</tr>
											</thead>
										</table>
									</div>
									<div class="col-md-6">
										<table class="table table-hover plan-color-table">
											<thead class="thead-dark">
												<tr>
													<th></th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<tr class="table-primary">
													<th scope="row" style="align-content: center;">Comados para autorizar ONUs</th>
													<td>
														<!-- Button trigger modal -->
														<button type="button" class="btn btn-primary" id="bntautorizaONU" data-toggle="modal" data-target="#autorizaONUModal">
															autorizar
														</button>
														<!-- Modal -->
														<div class="modal fade" id="autorizaONUModal" tabindex="-1" role="dialog" aria-labelledby="autorizaONUModalTitle" aria-hidden="true">
															<div class="modal-dialog modal-lg" role="document">
															<div class="modal-content">
																<div class="modal-header">
																<h5 class="modal-title" id="autorizaONUModalTitle">autorizar ONU</h5>
																<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																</button>
																</div>
																<div  class="modal-body">
																	<textarea id="autorizaONU_txt" class="form-control" rows="20" style="margin-bottom: 1rem;" disabled></textarea>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																</div>
															</div>
															</div>
														</div>
													</td>
												</tr>
												<tr class="table-primary">
													<th scope="row" style="align-content: center;">Comados para autorizar ONUs com exceção</th>
													<td>
														<!-- Button trigger modal -->
														<button type="button" class="btn btn-primary" id="bntautorizaExcONU" data-toggle="modal" data-target="#autorizaExcONUModal">
															autorizar exceção
														</button>
														<!-- Modal -->
														<div class="modal fade" id="autorizaExcONUModal" tabindex="-1" role="dialog" aria-labelledby="autorizaExcONUModalTitle" aria-hidden="true">
															<div class="modal-dialog modal-lg" role="document">
															<div class="modal-content">
																<div class="modal-header">
																<h5 class="modal-title" id="autorizaExcONUModalTitle">autorizar ONU exceção</h5>
																<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																</button>
																</div>
																<div class="modal-body">
																	<textarea id="autorizaONUExcecao_txt" class="form-control" rows="20" style="margin-bottom: 1rem;" disabled></textarea>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																</div>
															</div>
															</div>
														</div>
													</td>
												</tr>
												<tr class="table-primary">
													<th scope="row" style="align-content: center;">Comados para deletar ONUs</th>
													<td>
														<!-- Button trigger modal -->
														<button type="button" class="btn btn-primary" id="bntdeletaONU" data-toggle="modal" data-target="#deletaONUModal">
															deletar
														</button>
														<!-- Modal -->
														<div class="modal fade" id="deletaONUModal" tabindex="-1" role="dialog" aria-labelledby="deletaONUModalTitle" aria-hidden="true">
															<div class="modal-dialog modal-lg" role="document">
															<div class="modal-content">
																<div class="modal-header">
																<h5 class="modal-title" id="deletaONUModalTitle">deletar ONU</h5>
																<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																</button>
																</div>
																<div class="modal-body">
																	<textarea id="ontDelete_txt" class="form-control" rows="20" style="margin-bottom: 1rem;" disabled></textarea>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																</div>
															</div>
															</div>
														</div>
													</td>
												</tr>
												<tr class="table-primary">
													<th scope="row" style="align-content: center;">Comados para deletar ONUs com exceção</th>
													<td>
														<!-- Button trigger modal -->
														<button type="button" class="btn btn-primary" id="bntdeletaExcONU" data-toggle="modal" data-target="#deletaExcONUModal">
															deletar exceção
														</button>
														<!-- Modal -->
														<div class="modal fade" id="deletaExcONUModal" tabindex="-1" role="dialog" aria-labelledby="deletaExcONUModalTitle" aria-hidden="true">
															<div class="modal-dialog modal-lg" role="document">
															<div class="modal-content">
																<div class="modal-header">
																<h5 class="modal-title" id="deletaExcONUModalTitle">deletar ONU exceção</h5>
																<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																</button>
																</div>
																<div class="modal-body">
																	<textarea id="ontDeleteExcecao_txt" class="form-control" rows="20" style="margin-bottom: 1rem;" disabled></textarea>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																</div>
															</div>
															</div>
														</div>
													</td>
												</tr>
											</tbody>
											<thead class="thead-dark">
												<tr>
													<th></th>
													<th></th>
												</tr>
											</thead>
										</table>
										<b>log console</b>
										<textarea id="logconsole" class="form-control" rows="9" style="margin-bottom: 1rem;" disabled></textarea>
										<table id="tbl-log-console" class="table table-hover plan-color-table">
											<thead class="thead-dark">
												<tr>
													<th></th>
												</tr>
											</thead>
										</table>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-6"> 
										<input type="Reset" id="limparDados" class="btn btn-primary bntclick" onclick="cancelaCadastro();" value="Limpar dados">
                                        <button id="submitButton" class="btn btn-primary"type="submit">Prosseguir</button>
									</div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</main>
		<div id="modalAlerta">
		  <div id="modalContent">
			<h3>Você não pode passar!</h3>
			<img src="images/lord-of-the-rings-you-shall-not-pass.gif" alt="You shall not pass GIF">
			<button id="closeModalBtn">Fechar</button>
		  </div>
		</div>
		<footer class="footer navbar-fixed-bottom">
		  <div class="container-fluid">
			<div class="row">
			  <div class="col-md-12 align-items-center" style="font-size: 12px; text-align: center;">
				<a href="../"><img class="logo" src="images/logo.png"></a>
				<p>© 2021 Gerencia Intervip | Densenvolvido por <a href="https://github.com/guilherme-wallace" target="_blank">Guilherme Wallace</a>.</p>
			  </div>
			</div>
		  </div>
		</footer>
		<script>
		  const currentTheme = localStorage.getItem('theme') || 'light';
		  const bodyElement = document.body;
	  
		  if (currentTheme === 'dark') {
			bodyElement.classList.add('dark-mode');
		  }
	  
		  document.getElementById('theme-toggle').addEventListener('click', function() {
			bodyElement.classList.toggle('dark-mode');
	  
			if (bodyElement.classList.contains('dark-mode')) {
			  localStorage.setItem('theme', 'dark');
			} else {
			  localStorage.setItem('theme', 'light');
			}
		  });
		  document.addEventListener('DOMContentLoaded', function() {
			fetch('/api/username')
			  .then(response => response.json())
			  .then(data => {
				const username = data.username || 'Visitante';
				const group = data.group || 'Sem grupo';
				document.querySelector('.show-username').textContent = `Acessando como: ${username}`;
				document.querySelector('.show-group').textContent = `Setor: ${group}`;
	  
				if (username === 'Visitante') {
				  alert('Será necessário refazer o login!');
				  window.location = "/";
				} else if (group !== 'NOC') {
				  document.getElementById('modalAlerta').style.display = 'flex';
				}
			  })
			  .catch(error => {
				console.error('Erro ao obter o nome do usuário e grupo:', error);
			  });
		  });
		  document.getElementById('closeModalBtn').addEventListener('click', function() {
			document.getElementById('modalAlerta').style.display = 'none';
			window.location = "/main";
		  });
		</script>
	  </body>
</html>
