<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>404 - Not Found</title>

	<!-- CSS -->
</head>

<body>
	<div id="text">
		<div class="soon">
			<img class="responsive" src="/images/logo.png">
		</div>
		<h3><b>404</b> - Not Found</h3>
		<p class="second-text">The requested URL was not found on this server.<br> That’s all we know.</p>
		<hr>
		<h3><b>404</b> - Não encontrado</h3>
		<p class="second-text">O URL solicitado não foi encontrado neste servidor.<br> Isso é tudo que sabemos.</p>
		<img class="gif" src="/images/calma-beth.gif" alt="Calma Beth">
	</div>

	<style>
		body {
			margin: 0;
			padding: 0;
			font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
			background: rgba(25, 25, 25, 0.85);
		}

		#text {
			margin: 5% 33%;
			color: whitesmoke;
			text-align: center;
		}

		.gif {
			width: 75%;
			height: auto;
		}

		.second-text {
			text-align: left;
			margin: 0% 10%;
		}

		.soon {
			padding: 0 15%;
		}

		.responsive {
			width: 100%;
			height: auto;
		}
	</style>
</body>

</html>
