* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

html, body {
    height: 100%;
    background-color: #cdd3d8;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Responsividade */
@media (max-width: 992px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 575px) {
    .logo-wrapper {
        text-align: center;
    }

    header #cabecalho h2 {
        margin-bottom: 5px;
    }
}

/*-----###Footer###-----*/
footer {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1em;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    background-color: #191919;
    position: fixed;
    bottom: 0;
}

/* Estilos gerais para o corpo */
.login-body {
    font-family: Arial, sans-serif;
    background-image: url("../images/background.webp");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos da caixa de login */
.boxLogin {
    width: 300px;
    padding: 2%;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgba(0, 61, 112, 0.5), rgba(0, 61, 112, 1));
    border-radius: 0.5em;
    border: inset 2px #191919;
}

.boxLogin h3 {
    color: lightsteelblue;
    margin-bottom: 10px;
}

.boxLogin input[type="text"], 
.boxLogin input[type="password"] {
    width: 92%;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border: 2px solid rgb(226, 185, 69);
    border-radius: 0.5em;
    outline: none;
    transition: border-color 0.25s;
}

.boxLogin input[type="text"]:focus, 
.boxLogin input[type="password"]:focus {
    border-color: #ffda44;
}

.boxLogin button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background-color: rgb(226, 185, 69);
    color: white;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.25s;
}

.boxLogin button:hover {
    background-color: rgb(255, 193, 7);
}

.error-message {
    color: #ff0000;
    margin-top: 10px;
    display: none; /* Oculto por padrão */
}
